.operate_btn{height:40px;margin-top:35px;font-size:0;position:relative;display:inline-block;width:178px;height:38px;border:1px solid #c40000;font-size:14px;color:#c40000;line-height:38px;text-align:center;background-color:#ffeded;}
/*
.operate_btn{display:inline-block;width:178px;height:38px;border:1px solid #c40000;font-size:14px;color:#c40000;line-height:38px;text-align:center;background-color:#ffeded;}
.operate_btn{background-color:#c40000;color:#fff;margin-left:10px;position:relative;z-index:10;}*/
