<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="check_login_admin" method="post">
    <div>
        <div>
            <input type="text" maxlength="9" name="admin_id" id="admin_id" placeholder="请输入账号"/>

            <input type="text" maxlength="9" name="admin_pwd" id="admin_pwd" placeholder="请输入密码"/>

            <button type="submit">登录</button>
        </div>

    </div>
</form>
</body>
</html>